accelerate
pydub
nnAudio
PyYAML
transformers
hydra-core
tensorboard
slider @ git+https://github.com/llllllllll/slider.git
torch_tb_profiler
wandb
matplotlib
pandas
pyarrow
einops
lightning
pywebview[qt]
pyqtwebengine
flask
audioop-lts; python_version>='3.13'
rich
peft
rosu-pp-py @ git+https://github.com/MaxOhn/rosu-pp-py.git
yt-dlp
torchaudio
